# IDE
*.iml
.idea/*
!.idea/StompBrokerJS.iml
!.idea/codeStyleSettings.xml
!.idea/file.template.settings.xml
!.idea/modules.xml
!.idea/misc.xml
!.idea/encodings.xml
.vimrc

# Directories
node_modules/

# Lock files
package-lock.json

# OS files
.DS_Store
**/Thumbs.db
